body {
    display: flex;
    flex-direction: column;
    margin: 0;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 120px;
    background-color: #1F2937;
    color: #F9FAF8;
}

.logo {
    font-weight: bold;
    font-size: 20px;
}

.hero {
    display: flex;


}

ul {
    display: flex;
    list-style-type: none;
    gap: 30px;
}



.information {
    display: flex;
    flex-direction: column;
}

.quote {
    display: flex;
    flex-direction: column;
}

.bottom {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
}