body {
    display: flex;
    flex-direction: column;
    margin: 0;
}

.hero {
    display: flex;
    flex-direction: column;
    

}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1F2937;
    color: #F9FAF8;
    padding: 20px 200px;
}

.logo {
    font-weight: bold;
    font-size: 20px;
}



.introduction {
    display: flex;
    align-items: center;
    background-color: #1F2937;
    color: #F9FAF8;
    padding: 90px 200px;
    
}

h1 {
    margin: 0;
    font-size: 48px;
    font-weight: bolder;
}

.description {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 0;
    height: 230px;
    width: 450px;
    padding: 0;

}

.description p {
    font-size: 18px;
    margin: 0;
}

button {
    background-color: #3882F6;
    width: 100px;
    height: 25px;
    color: #F9FAF8;
    font-weight: 700;
    border-radius: 10%;
}



.image {
    margin-left: auto;
    height: 230px;
    width: 450px;
    background-color: gray;
    display: flex;
    justify-content: center;
    align-items: center;
}



ul {
    display: flex;
    list-style-type: none;
    gap: 30px;
}



.information {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h2 {
    font-size: 36px;
    color: #1F2937;
}

.cards {
    display: flex;
    justify-content: center;
    
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 300px;
    text-align: center;
}
.card .img {
    width: 150px;
    height: 150px;
    border-style: solid;
    border-width: 3px;
    border-radius: 10%;
    border-color: #3882F6;
}

.card p{
    width: 150px;
}

.quote {
    display: flex;
    flex-direction: column;
}

.bottom {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
}